@layer components {
  /* ==================== NAV ==================== */
  .page-aboutPets nav .active {
    @apply bg-pink-800 pointer-events-none;
  }
  /* ==================== SECTION SETTINGS ==================== */
  .page-aboutPets section > h2 {
    @apply font-cute text-4xl font-medium mb-2;
  }
  .page-aboutPets section > p {
    @apply mb-2 text-justify text-base sm:text-lg;
  }
  .page-aboutPets .viewAll-a {
    @apply inline-flex items-center gap-1 text-xl font-medium py-2
    text-pink-500 hover:text-pink-600 active:text-pink-700 hover:gap-2 
    transition-all;
  }
  /* ==================== MAIN ==================== */
  .page-aboutPets main {
    @apply container mx-auto mt-15;
  }
  .page-aboutPets main > div {
    @apply relative grid grid-cols-4;
  }
  /* ===== LEFT MAIN ===== */
  .page-aboutPets .left-main {
    @apply col-span-4 md:col-span-3 px-2 md:pr-6 py-6;
  }
  /* ===== RIGHT MAIN ===== */
  .page-aboutPets .right-main {
    @apply col-span-1 sticky top-16 py-6
        hidden md:flex flex-col justify-center
        text-white
        bg-linear-to-r from-pink-300 to-white
        border-l-4 border-pink-500 h-[calc(100vh-4rem)];
  }
  .page-aboutPets .right-main > span {
    @apply text-xl font-bold p-2 text-shadow-lg;
  }
  .page-aboutPets .right-main > ul {
    @apply space-y-1 font-medium;
  }
  .page-aboutPets .right-main > ul > li > a {
    @apply block px-2 py-2 
    bg-linear-to-r from-pink-500 to-white 
    hover:from-pink-600 active:from-pink-700 
    transition-colors duration-200;
  }
  .page-aboutPets .right-main > ul > li > a.active {
    @apply bg-linear-to-r from-pink-700 to-white pointer-events-none;
  }
  /* ==================== HEADER ==================== */
  .page-aboutPets header {
    @apply relative flex h-90 justify-center items-end 
        text-white rounded-2xl overflow-hidden;
  }
  .page-aboutPets header > h1 {
    @apply relative text-4xl sm:text-5xl font-medium font-cute z-10 p-4;
  }
  .page-aboutPets header > img {
    @apply absolute h-90 w-full object-cover;
  }
  .page-aboutPets header > div {
    @apply absolute w-full h-full bg-linear-to-b from-black/0 to-black/50;
  }

  /* ============================== ARTICLES ============================== */
  .page-aboutPets .article-card-wrapper {
    @apply flex space-y-10 sm:space-y-0 sm:space-x-10 flex-wrap sm:flex-nowrap;
  }
  .page-aboutPets .article-card {
    @apply relative flex items-end text-center 
    w-full h-80 sm:h-100 
    rounded-xl overflow-hidden;
  }
  /* ===== ARTICLE IMAGE ===== */
  .page-aboutPets .article-card-image-container {
    @apply absolute w-full h-full;
  }
  .page-aboutPets .article-card-image-container > div {
    @apply z-10 absolute w-full h-full bg-linear-to-b from-black/0 to-black/50;
  }
  .page-aboutPets .article-card-image-container > img {
    @apply w-full h-full object-cover group-hover:scale-102 transition-transform duration-200;
  }
  /* ===== ARTICLE TEXT ===== */
  .page-aboutPets .article-card-text-container {
    @apply w-full text-white z-10;
  }
  .page-aboutPets .article-card-text-container > h3 {
    @apply px-2 mb-1 text-xl sm:text-2xl font-medium;
  }
  .page-aboutPets .article-card-text-container > p {
    @apply px-2 mb-3 text-sm sm:text-base text-gray-100;
  }
  .page-aboutPets .article-card-text-container > a {
    @apply inline-block font-bold text-sm
    w-full py-5 
    border-t border-white 
    hover:bg-pink-500/50 hover:border-pink-500/50 active:bg-pink-600/75 active:border-pink-600/75
    transition-colors duration-200;
  }
  .page-aboutPets .article-card-text-container > a > span {
    @apply absolute inset-0;
  }
}
