@import "tailwindcss";
@layer components {
  /* ==================== Hero Section ==================== */
  .page-home #hero-section {
    @apply relative bg-black flex items-end 
    min-h-[calc(80vh-64px)]
    md:min-h-[calc(100vh-64px)] mt-16;
  }
  .page-home .hero-findAPet {
    @apply grid grid-cols-2 gap-10 text-xl md:text-2xl;
  }
  /* Hero Find a Pet */
  .page-home .hero-findAPet > a {
    @apply flex flex-col items-center
     bg-pink-500/50 border-white/50 border-4 
     hover:bg-pink-500 hover:border-white active:bg-pink-600
     transition-colors duration-200 p-4 rounded-2xl;
  }
  .page-home .hero-findAPet > a > img {
    @apply invert size-14 md:size-20;
  }
  /* ==================== Process Section ==================== */
  .page-home .allProcess {
    @apply grid grid-cols-1 gap-8 lg:gap-12
    text-center text-2xl font-medium
    md:grid-cols-2;
  }
  /* allprocess cols */
  .page-home .allProcess > div {
    @apply flex flex-col max-w-100 text-white
    border-4 bg-pink-500 border-pink-500 rounded-2xl 
    shadow-lg shadow-pink-500/50 overflow-hidden;
  }
  /* process images div */
  .page-home .allProcess > div > div {
    @apply relative h-40 md:h-60 overflow-hidden;
  }
  /* process images div > image */
  .page-home .allProcess > div > div > img {
    @apply transition-transform duration-200 w-full h-full object-cover pointer-events-none;
  }
  /* process images div > span */
  .page-home .allProcess > div > div > span {
    @apply absolute top-0 left-0 bg-pink-500 text-white p-4 rounded-br-full z-10;
  }
  /* ==================== To About Section ==================== */
  .page-home .learnMore-btn {
    @apply inline-block text-lg font-bold px-3 py-2 md:px-5 md:py-3
    bg-white border-4 border-white text-rose-500 
    hover:bg-rose-500 hover:text-white 
    transition-colors duration-200 
    rounded-full;
  }
  /* ==================== Articles Section ==================== */
  .page-home .article-wrapper {
    @apply container mx-auto px-2 flex space-y-10 sm:space-y-0 
    sm:space-x-10 flex-wrap sm:flex-nowrap;
  }
  .page-home .article-card {
    @apply relative flex items-end text-center 
    w-full h-80 sm:h-100 md:h-120 
    rounded-xl overflow-hidden;
  }
  /* img container */
  .page-home .article-card-image-container {
    @apply absolute w-full h-full;
  }
  .page-home .article-card-image-container > div {
    @apply z-10 absolute w-full h-full bg-linear-to-b from-black/0 to-black/50;
  }
  .page-home .article-card-image-container > img {
    @apply w-full h-full object-cover group-hover:scale-102 transition-transform duration-200;
  }
  /* text container */
  .page-home .article-card-text-container {
    @apply w-full text-white z-10;
  }
  .page-home .article-card-text-container > h3 {
    @apply mb-1 text-2xl font-medium;
  }
  .page-home .article-card-text-container > p {
    @apply px-2 mb-3 text-gray-100;
  }
  .page-home .article-card-text-container > a {
    @apply inline-block font-bold text-sm sm:text-base tracking-wide
    w-full py-6 
    border-t border-white 
    hover:bg-pink-500/50 hover:border-pink-500/50 active:bg-pink-600/75 active:border-pink-600/75
    transition-colors duration-200;
  }
  .page-home .article-card-text-container > a > span {
    @apply absolute inset-0;
  }
}
