@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@import "./index.css";
@import "./about-pets/about-pets.css";
@import "./about-patipop/about-us.css";
@import "./find-pets/find-a-pet.css";
@source "../node_modules/flowbite";

@theme {
  --font-cute: "Fredoka", sans-serif;
}

@layer components {
  /* ==================== Nav ==================== */
  nav {
    @apply bg-white shadow-md fixed top-0 w-full z-30;
  }
  nav > div {
    @apply container mx-auto px-2 flex justify-between items-center;
  }
  .left-navSide,
  .right-navSide {
    @apply text-sm flex items-center space-x-4 md:space-x-8;
  }
  .right-navSide {
    @apply md:space-x-0;
  }
  /* ===== Left Nav Side ===== */
  .left-navSide-btn {
    @apply flex items-center space-x-2 py-5 font-medium 
    text-black hover:text-pink-400 focus-visible:text-pink-500 
    cursor-pointer;
  }
  .left-navSide-menu {
    @apply absolute left-0 top-full w-full bg-pink-500 shadow-lg z-10 text-white;
  }
  /* Find a Pet */
  .location-div {
    @apply relative flex flex-col justify-center 
    text-white bg-pink-500
    w-full px-20 py-4
    md:bg-linear-to-r md:from-pink-500 md:to-pink-700 
    md:py-0 md:h-full md:w-auto;
  }
  .arrow {
    @apply absolute 
    bg-pink-700  
    md:left-full md:top-0
    md:h-full md:w-auto 
    md:rounded-bl-none md:rounded-tr-full md:rounded-br-full 
    md:py-0 md:px-4;
  }
  .nav-findAPet-a-wrapper {
    @apply flex h-full w-full md:w-auto;
  }
  .nav-findAPet-a-wrapper > a {
    @apply flex-1 flex items-center justify-center 
    space-x-2 
    hover:bg-pink-600 active:bg-pink-700
    h-full py-4 
    md:flex-auto md:px-12 md:py-0;
  }
  .nav-findAPet-a-wrapper > a > img {
    @apply w-14 h-14 invert;
  }
  .nav-findAPet-a-wrapper > a > span {
    @apply text-base font-bold;
  }
  /* All About */
  .allAboutMenuItem-click {
    @apply p-4 text-base 
   hover:bg-pink-600 active:bg-pink-700;
  }
  .allAboutMenuItem-hover {
    @apply flex items-center space-x-1 text-base p-4 
    hover:bg-pink-600 group-hover:bg-pink-600;
  }
  .allAboutMenuItem-menu {
    @apply absolute left-0 top-full mt-0 w-full bg-pink-600 shadow-lg;
  }
  .allAboutMenuItem-menu > a {
    @apply block p-4 hover:bg-pink-700 active:bg-pink-800;
  }
  /* ===== Right Nav Side ===== */
  .signIn-btn {
    @apply hidden sm:inline px-6 py-2 font-medium text-base 
    bg-pink-500 hover:bg-pink-600 active:bg-pink-700 text-white 
    rounded-full cursor-pointer;
  }
  /* ==================== Mobile Nav Menu ==================== */
  .mobile-nav {
    @apply fixed md:hidden bg-pink-500/70 backdrop-blur-sm inset-0 z-50;
  }
  /* mobile nav links */
  .mobile-nav-links {
    @apply flex flex-col justify-center h-[calc(100vh-72px)] 
    text-white font-medium text-shadow-sm;
  }
  .mobile-nav-links > a {
    @apply p-4 border-b border-white text-lg hover:bg-pink-600 active:bg-pink-700;
  }
  .mobile-nav-links > a:first-child {
    @apply border-t;
  }
  /* ==================== FOOTER ==================== */
  footer {
    @apply bg-slate-950 text-white;
  }
  /* ===== Footer top ===== */
  .top-footer {
    @apply container mx-auto mb-12 flex flex-col space-y-5 pt-16 px-2;
  }
  .top-footer > .top-logo-wrapper {
    @apply flex;
  }
  .top-footer > .top-logo-wrapper > a {
    @apply mx-auto;
  }
  .top-footer > .top-lists-wrapper {
    @apply w-full grid gap-y-10 gap-x-10
    grid-cols-2 md:grid-cols-3 lg:grid-cols-5;
  }
  .top-footer > .top-lists-wrapper > ul {
    @apply space-y-1.5;
  }
  .top-footer > .top-lists-wrapper > ul > li:first-child {
    @apply text-center text-xl font-bold pb-1 border-b;
  }
  .top-footer > .top-lists-wrapper > ul > li:not(:first-child) > a {
    @apply text-sm hover:text-pink-500 active:text-pink-600;
  }
  /* ===== Footer bottom ===== */
  .bottom-footer {
    @apply bg-slate-900 py-8 text-sm;
  }
  .bottom-footer > div {
    @apply container mx-auto flex justify-between items-center space-x-4 px-2;
  }
  .bottom-footer .bottom-links {
    @apply flex space-x-4;
  }
  .bottom-footer .bottom-links img {
    @apply w-12 hover:scale-108 transition-transform duration-200;
  }
  /* ==================== BADGES ==================== */
  .badge-container {
    @apply container mx-auto text-center text-white px-2 py-6;
  }
  .badge-container > h2  {
    @apply font-cute text-3xl md:text-5xl font-medium mb-2;
  }
  .badge-container > p  {
    @apply text-lg md:text-2xl text-gray-100 mb-4;
  }
  .badge-container > a {
    @apply inline-block text-lg font-bold px-3 py-2 md:px-5 md:py-3
    bg-white border-4 border-white text-rose-500 
    hover:bg-rose-500 hover:text-white 
    transition-colors duration-200 
    rounded-full;
  }
  /* ==================== Sign In Modal ==================== */
  #authentication-modal, #reminder-modal {
    @apply bg-black/50 overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-screen max-h-full;
  }
  .content-wrapper {
    @apply relative p-4 w-full max-w-md max-h-full;
  }
  .content-wrapper > .content {
    @apply relative bg-neutral-primary-soft border border-default rounded-base shadow-sm p-3 md:p-4;
  }
  .content > .content-header {
    @apply flex items-center justify-between border-b border-default pb-2 md:pb-3;
  }
  .content > .content-header > h2, .content > .content-header > h3 {
    @apply text-2xl font-medium text-black font-cute;
  }
  .close-x {
    @apply text-body bg-transparent 
    hover:bg-neutral-tertiary hover:text-heading 
    rounded-base text-sm w-9 h-9 ms-auto 
    inline-flex justify-center items-center cursor-pointer;
  }
  #authentication-modal .writable-input label {
    @apply block mb-2.5 text-sm font-medium text-heading;
  }
  #authentication-modal .writable-input input {
    @apply bg-neutral-secondary-medium border border-default-medium 
    text-heading text-sm rounded-base 
    focus:ring-pink-500 focus:border-pink-500 
    block w-full px-3 py-2.5 shadow-xs placeholder:text-body;
  }
  #authentication-modal button:not(.close-x), #reminder-modal button:not(.close-x) {
    @apply text-white bg-pink-500 
    border border-transparent hover:bg-pink-600 
    shadow-xs font-medium leading-5 
    rounded-base text-sm px-4 py-2.5 focus:outline-none w-full mb-3 cursor-pointer;
  }
}
html {
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
}