@import "tailwindcss";
@import "./index.css";
@import "./about-pets/about-pets.css";
@import "./about-patipop/about-us.css";

@theme {
  --font-cute: "Fredoka", sans-serif;
}

@layer components {
  /* ==================== Nav ==================== */
  nav {
    @apply bg-white shadow-md fixed top-0 w-full z-30;
  }
  nav > div {
    @apply container mx-auto px-2 flex justify-between items-center;
  }
  .left-navSide,
  .right-navSide {
    @apply flex items-center space-x-4 md:space-x-8;
  }
  .right-navSide {
    @apply md:space-x-0;
  }
  /* ===== Left Nav Side ===== */
  .left-navSide-btn {
    @apply flex items-center space-x-2 py-5 font-medium 
    text-black hover:text-pink-400 focus-visible:text-pink-500 
    cursor-pointer;
  }
  .left-navSide-menu {
    @apply absolute left-0 top-full w-full bg-pink-500 shadow-lg z-10 text-white;
  }
  /* Find a Pet */
  .location-div {
    @apply relative flex flex-col justify-center 
    text-white bg-pink-500
    w-full px-20 py-4
    md:bg-linear-to-r md:from-pink-500 md:to-pink-700 
    md:py-0 md:h-full md:w-auto;
  }
  .arrow {
    @apply absolute 
    bg-pink-700  
    md:left-full md:top-0
    md:h-full md:w-auto 
    md:rounded-bl-none md:rounded-tr-full md:rounded-br-full 
    md:py-0 md:px-4;
  }
  .nav-findAPet-a-wrapper {
    @apply flex h-full w-full md:w-auto;
  }
  .nav-findAPet-a-wrapper > a {
    @apply flex-1 flex items-center justify-center 
    space-x-2 
    hover:bg-pink-600 active:bg-pink-700
    h-full py-4 
    md:flex-auto md:px-12 md:py-0;
  }
  .nav-findAPet-a-wrapper > a > img {
    @apply w-16 h-16 invert;
  }
  .nav-findAPet-a-wrapper > a > span {
    @apply text-lg font-bold;
  }
  /* All About */
  .allAboutMenuItem-click {
    @apply p-4 text-lg 
   hover:bg-pink-600 active:bg-pink-700;
  }
  .allAboutMenuItem-hover {
    @apply flex items-center space-x-1 text-lg p-4 
    hover:bg-pink-600 group-hover:bg-pink-600;
  }
  .allAboutMenuItem-menu {
    @apply absolute left-0 top-full mt-0 w-full bg-pink-600 shadow-lg;
  }
  .allAboutMenuItem-menu > a {
    @apply block p-4 hover:bg-pink-700 active:bg-pink-800;
  }
  /* ===== Right Nav Side ===== */
  .signIn-btn {
    @apply hidden sm:inline px-6 py-2 font-medium text-lg 
    bg-pink-500 hover:bg-pink-600 active:bg-pink-700 text-white 
    rounded-full cursor-pointer;
  }
  /* ==================== Mobile Nav Menu ==================== */
  .mobile-nav {
    @apply fixed md:hidden bg-pink-500/70 backdrop-blur-sm inset-0 z-50;
  }
  /* mobile nav links */
  .mobile-nav-links {
    @apply flex flex-col justify-center h-[calc(100vh-72px)] 
    text-white font-medium text-shadow-sm;
  }
  .mobile-nav-links > a {
    @apply p-4 border-b border-white text-lg hover:bg-pink-600 active:bg-pink-700;
  }
  .mobile-nav-links > a:first-child {
    @apply border-t;
  }
  /* ==================== FOOTER ==================== */
  footer {
    @apply bg-slate-950 text-white;
  }
  /* ===== Footer top ===== */
  .top-footer {
    @apply container mx-auto mb-12 flex flex-col space-y-5 pt-16 px-2;
  }
  .top-footer > .top-logo-wrapper {
    @apply flex;
  }
  .top-footer > .top-logo-wrapper > a {
    @apply mx-auto;
  }
  .top-footer > .top-lists-wrapper {
    @apply w-full grid gap-y-10 gap-x-10
    grid-cols-2 md:grid-cols-3 lg:grid-cols-5;
  }
  .top-footer > .top-lists-wrapper > ul {
    @apply space-y-1.5;
  }
  .top-footer > .top-lists-wrapper > ul > li:first-child {
    @apply text-center text-xl font-bold pb-1 border-b;
  }
  .top-footer > .top-lists-wrapper > ul > li:not(:first-child) > a {
    @apply text-sm hover:text-pink-500 active:text-pink-600;
  }
  /* ===== Footer bottom ===== */
  .bottom-footer {
    @apply bg-slate-900 py-8 text-sm;
  }
  .bottom-footer > div {
    @apply container mx-auto flex justify-between items-center space-x-4 px-2;
  }
  .bottom-footer .bottom-links {
    @apply flex space-x-4;
  }
  .bottom-footer .bottom-links img {
    @apply w-12 hover:scale-108 transition-transform duration-200;
  }
}
html {
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
}