@import "tailwindcss";

@theme {
  --font-cute: "Fredoka", sans-serif;
}

@layer components {
  /* ==================== Nav ==================== */
  nav {
    @apply bg-white shadow-md fixed top-0 w-full z-30;
  }
  nav > div {
    @apply container mx-auto px-2 flex justify-between items-center;
  }
  .left-navSide,
  .right-navSide {
    @apply flex items-center space-x-4 md:space-x-8;
  }
  .right-navSide {
    @apply md:space-x-0;
  }
  /* ===== Left Nav Side ===== */
  .left-navSide-btn {
    @apply flex items-center space-x-2 py-5 font-medium 
    text-black hover:text-pink-400 focus-visible:text-pink-500 
    cursor-pointer;
  }
  .left-navSide-menu {
    @apply absolute left-0 top-full w-full bg-pink-500 shadow-lg z-10 text-white;
  }
  /* Find a Pet */
  .location-div {
    @apply relative flex flex-col justify-center 
    text-white bg-pink-500
    w-full px-20 py-4
    md:bg-linear-to-r md:from-pink-500 md:to-pink-700 
    md:py-0 md:h-full md:w-auto;
  }
  .arrow {
    @apply absolute 
    bg-pink-700  
    md:left-full md:top-0
    md:h-full md:w-auto 
    md:rounded-bl-none md:rounded-tr-full md:rounded-br-full 
    md:py-0 md:px-4;
  }
  .nav-findAPet-a-wrapper {
    @apply flex h-full w-full md:w-auto;
  }
  .nav-findAPet-a-wrapper > a {
    @apply flex-1 flex items-center justify-center 
    space-x-2 
    hover:bg-pink-600 active:bg-pink-700
    h-full py-4 
    md:flex-auto md:px-12 md:py-0;
  }
  .nav-findAPet-a-wrapper > a > img {
    @apply w-16 h-16 invert;
  }
  .nav-findAPet-a-wrapper > a > span {
    @apply text-lg font-bold;
  }
  /* All About */
  .allAboutMenuItem-click {
    @apply p-4 text-lg 
   hover:bg-pink-600 active:bg-pink-700;
  }
  .allAboutMenuItem-hover {
    @apply flex items-center space-x-1 text-lg p-4 
    hover:bg-pink-600 group-hover:bg-pink-600;
  }
  .allAboutMenuItem-menu {
    @apply absolute left-0 top-full mt-0 w-full bg-pink-600 shadow-lg;
  }
  .allAboutMenuItem-menu > a {
    @apply block p-4 hover:bg-pink-700 active:bg-pink-800;
  }
  /* ===== Right Nav Side ===== */
  .signIn-btn {
    @apply hidden sm:inline px-6 py-2 font-medium text-lg 
    bg-pink-500 hover:bg-pink-600 active:bg-pink-700 text-white 
    rounded-full cursor-pointer;
  }
  /* ==================== Mobile Nav Menu ==================== */
  .mobile-nav {
    @apply fixed md:hidden bg-pink-500/70 backdrop-blur-sm inset-0 z-50;
  }
  /* mobile nav links */
  .mobile-nav-links {
    @apply flex flex-col justify-center h-[calc(100vh-72px)] 
    text-white font-medium text-shadow-sm;
  }
  .mobile-nav-links > a {
    @apply p-4 border-b border-white text-lg hover:bg-pink-600 active:bg-pink-700;
  }
  .mobile-nav-links > a:first-child {
    @apply border-t;
  }
  /* ==================== Hero Section ==================== */
  #hero-section {
    @apply relative bg-black flex items-end 
    min-h-[calc(80vh-64px)]
    md:min-h-[calc(100vh-64px)] mt-16;
  }
  .hero-findAPet {
    @apply grid grid-cols-2 gap-10 text-xl md:text-2xl;
  }
  /* Hero Find a Pet */
  .hero-findAPet > a {
    @apply flex flex-col items-center
     bg-pink-500/50 border-white/50 border-4 
     hover:bg-pink-500 hover:border-white active:bg-pink-600
     transition-colors duration-200 p-4 rounded-2xl;
  }
  .hero-findAPet > a > img {
    @apply invert size-14 md:size-20;
  }
  /* ==================== Process Section ==================== */
  .allProcess {
    @apply grid grid-cols-1 gap-15 lg:gap-20  
    text-center text-2xl font-medium
    md:grid-cols-2;
  }
  /* allprocess cols */
  .allProcess > div {
    @apply flex flex-col max-w-100 text-white
    border-4 bg-pink-500 border-pink-500 rounded-2xl 
    shadow-lg shadow-pink-500/50 overflow-hidden;
  }
  /* process images div */
  .allProcess > div > div {
    @apply relative h-60 overflow-hidden;
  }
  /* process images div > image */
  .allProcess > div > div > img {
    @apply transition-transform duration-200 w-full h-full object-cover pointer-events-none;
  }
  /* process images div > span */
  .allProcess > div > div > span {
    @apply absolute top-0 left-0 bg-pink-500 text-white p-4 rounded-br-full z-10;
  }
  /* ==================== To About Section ==================== */
  .learnMore-btn {
    @apply inline-block text-lg font-bold px-3 py-2 md:px-5 md:py-3
    bg-white border-4 border-white text-rose-500 
    hover:bg-rose-500 hover:text-white 
    transition-colors duration-200 
    rounded-full;
  }
  /* ==================== Articles Section ==================== */
  .article-card {
    @apply relative flex items-end text-center 
    w-full h-120 md:h-140 
    rounded-xl overflow-hidden;
  }
  /* img container */
  .article-card-image-container {
    @apply absolute w-full h-full;
  }
  .article-card-image-container > div {
    @apply z-10 absolute w-full h-full bg-linear-to-b from-black/0 to-black/50;
  }
  .article-card-image-container > img {
    @apply w-full h-full object-cover group-hover:scale-102 transition-transform duration-200;
  }
  /* text container */
  .article-card-text-container {
    @apply w-full text-white z-10;
  }
  .article-card-text-container > h3 {
    @apply mb-1 text-2xl font-medium;
  }
  .article-card-text-container > p {
    @apply px-2 mb-3 text-gray-100;
  }
  .article-card-text-container > a {
    @apply inline-block font-bold text-sm
    w-full py-6 
    border-t border-white 
    hover:bg-pink-500/50 hover:border-pink-500/50 active:bg-pink-600/75 active:border-pink-600/75
    transition-colors duration-200;
  }
  .article-card-text-container > a > span {
    @apply absolute inset-0;
  }
  /* ==================== FOOTER ==================== */
  footer {
    @apply bg-slate-950 text-white;
  }
  /* Footer top */
  .top-footer {
    @apply container mx-auto mb-12 flex flex-col space-y-5 pt-16 px-2;
  }
  .top-footer > .top-logo-wrapper {
    @apply flex;
  }
  .top-footer > .top-logo-wrapper > a {
    @apply mx-auto;
  }
  .top-footer > .top-lists-wrapper {
    @apply w-full grid gap-y-10 gap-x-10
    grid-cols-2 md:grid-cols-3 lg:grid-cols-5;
  }
  .top-footer > .top-lists-wrapper > ul {
    @apply space-y-1.5;
  }
  .top-footer > .top-lists-wrapper > ul > li:first-child {
    @apply text-center text-xl font-bold pb-1 border-b;
  }
  .top-footer > .top-lists-wrapper > ul > li:not(:first-child) > a {
    @apply text-sm hover:text-pink-500 active:text-pink-600;
  }
  /* Footer bottom */
  .bottom-footer {
    @apply bg-slate-900 py-8 text-sm;
  }
  .bottom-footer > div {
    @apply container mx-auto flex justify-between items-center space-x-4 px-2;
  }
  .bottom-footer .bottom-links {
    @apply flex space-x-4;
  }
  .bottom-footer .bottom-links img {
    @apply w-12 hover:scale-108 transition-transform duration-200;
  }
}
