@layer components {
  .page-aboutUs h1 {
    @apply font-cute text-3xl sm:text-4xl md:text-5xl font-medium mb-3 text-center;
  }
  .page-aboutUs .about-us-grid {
    @apply grid grid-cols-1 max-w-200 mx-auto 
        sm:grid-cols-2 sm:bg-white sm:shadow-xl 
        rounded-2xl;
  }
  .page-aboutUs .about-us-grid > .text-wrapper {
    @apply flex flex-col justify-center items-center px-2 text-center;
  }
  .page-aboutUs .about-us-grid > .text-wrapper > span {
    @apply block text-2xl sm:text-3xl font-medium mb-2 font-cute;
  }
  .page-aboutUs .about-us-grid > .image-wrapper {
    @apply mx-auto w-full max-w-120 sm:max-w-full h-50 sm:h-auto rounded-2xl overflow-hidden;
  }
}
