@layer components {
  .page-find-a-pet main {
    @apply container mx-auto min-h-screen mt-15 grid grid-cols-5 gap-5;
  }
  .page-find-a-pet main > .left-main {
    @apply col-span-1 bg-white py-6 px-2 shadow-2xl;
  }
  .page-find-a-pet main > .right-main {
    @apply col-span-4 py-6 px-2;
  }
  .page-find-a-pet main > .left-main > div > div {
    @apply mb-3 w-full max-w-50;
  }
  .page-find-a-pet .dropdown-btn {
    @apply relative flex w-full mx-auto items-center justify-between cursor-pointer
    text-pink-500 bg-white 
    hover:bg-gray-100 
    border border-gray-100 shadow-sm font-medium leading-5 
    rounded text-sm px-4 py-2.5 focus:outline-none;
  }
  .page-find-a-pet .dropdown-btn > span {
    @apply flex items-center gap-x-2;
  }
  .page-find-a-pet .dropdown-menu {
    @apply z-10 hidden
    bg-neutral-primary-medium
    border border-default-medium 
    rounded shadow-lg w-52 xl:w-full max-w-50;
  }
  .page-find-a-pet .dropdown-menu > ul {
    @apply p-2 text-sm text-body font-medium;
  }
  .page-find-a-pet .dropdown-menu > ul div {
    @apply inline-flex items-center w-full p-2 border-y border-gray-200
    hover:bg-pink-100;
  }
  .page-find-a-pet .dropdown-menu > ul div > input {
    @apply w-4 h-4 border border-default-strong rounded-xs 
    bg-neutral-secondary-strong 
    focus:ring-2 focus:ring-brand-soft;
  }
  .page-find-a-pet .dropdown-menu > ul div > label {
    @apply ms-2 text-sm font-medium text-black;
  }
}
.page-find-a-pet .dropdown-menu {
    transform: none !important;
    inset: auto !important;
    top: 100% !important;
    left: 0 !important;
    margin-top: 0.2rem !important;
  }