@layer components {
  .page-find-a-pet main {
    @apply relative container 
    mx-auto min-h-screen mt-15 
    grid lg:grid-cols-5 lg:gap-5
    grid-cols-1;
  }
  .page-find-a-pet main > .left-main {
    @apply lg:sticky lg:top-15 py-6 px-2 
    w-full lg:h-[calc(100vh-3rem)] lg:col-span-1 
    bg-white lg:shadow-2xl;
  }
  .page-find-a-pet main > .right-main {
    @apply lg:col-span-4 py-6 px-2;
  }
  .filters-wrapper {
    @apply grid grid-cols-1
    sm:grid-cols-2 
    lg:grid-cols-1 gap-y-3 gap-x-3;
  }
  .page-find-a-pet main > .left-main > div,
  .page-find-a-pet main > .left-main > span {
    @apply w-full max-w-80 sm:max-w-100 mx-auto;
  }
  .page-find-a-pet main > .left-main > div > div {
    @apply min-w-50 lg:min-w-40 w-full;
  }
  .page-find-a-pet .dropdown-btn {
    @apply relative flex w-full mx-auto items-center justify-between cursor-pointer
    text-pink-500 bg-white 
    hover:bg-gray-100 active:bg-gray-100
    border border-gray-100 shadow-sm font-medium leading-5 
    rounded text-sm px-4 py-2.5 focus:outline-none;
  }
  .page-find-a-pet .dropdown-btn > span {
    @apply flex items-center gap-x-2;
  }
  .page-find-a-pet .dropdown-menu {
    @apply z-10 hidden
    bg-neutral-primary-medium
    border border-default-medium 
    rounded shadow-lg w-52 xl:w-full max-w-50;
  }
  .page-find-a-pet .dropdown-menu > ul {
    @apply p-2 text-sm text-body font-medium;
  }
  .page-find-a-pet .dropdown-menu > ul div {
    @apply inline-flex items-center w-full p-2 border-y border-gray-200
    hover:bg-pink-100;
  }
  .page-find-a-pet .dropdown-menu > ul div > input {
    @apply w-4 h-4 border border-default-strong rounded-xs 
    bg-neutral-secondary-strong 
    focus:ring-2 focus:ring-brand-soft;
  }
  .page-find-a-pet .dropdown-menu > ul div > label {
    @apply ms-2 text-sm font-medium text-black;
  }
  /* ===== ARTICLE IMAGE ===== */
  .page-find-a-pet .article-card {
    @apply relative flex items-end
    w-full h-60
    rounded-xl overflow-hidden shadow-2xl;
  }
  /* ===== ARTICLE IMAGE ===== */
  .page-find-a-pet .article-card-image-container {
    @apply absolute w-full h-full;
  }
  .page-find-a-pet .article-card-image-container > div {
    @apply z-10 absolute w-full h-full bg-linear-to-b from-black/0 to-black/60;
  }
  .page-find-a-pet .article-card-image-container > img {
    @apply w-full h-full object-cover group-hover:scale-102 transition-transform duration-200;
  }
  /* ===== ARTICLE TEXT ===== */
  .page-find-a-pet .article-card-text-container {
    @apply w-full
  text-white 
    z-10 flex flex-col;
  }
  .page-find-a-pet .article-card-text-container > span {
    @apply px-2 mb-1;
  }
  .page-find-a-pet .article-card-text-container > .pet-name {
    @apply text-lg font-medium;
  }
  .page-find-a-pet .article-card-text-container > .pet-info {
    @apply text-sm font-light;
  }
  .page-find-a-pet .article-card-text-container > button {
    @apply inline-block font-bold text-sm
    w-full py-3
    bg-black
    rounded-t-3xl hover:rounded-t-none 
    transition-all duration-200;
  }
  .page-find-a-pet .article-card-text-container > button > span {
    @apply absolute inset-0 cursor-pointer;
  }
}
.page-find-a-pet .dropdown-menu {
  transform: none !important;
  inset: auto !important;
  top: 100% !important;
  left: 0 !important;
  margin-top: 0.2rem !important;
}
