@layer components {
  .page-aboutDogs section > h2 {
    @apply font-cute text-4xl font-medium mb-2;
  }
  .page-aboutDogs section > p {
    @apply mb-2 text-justify text-base sm:text-lg;
  }
  /* ========== MAIN ========== */
  .page-aboutDogs main {
    @apply container mx-auto mt-16;
  }
  .page-aboutDogs main > div {
    @apply relative grid grid-cols-4;
  }
  .page-aboutDogs .left-main {
    @apply col-span-4 md:col-span-3 px-2 md:pr-6 py-6;
  }
  .page-aboutDogs .right-main {
    @apply col-span-1 sticky top-16 px-2 py-6
        hidden md:flex items-center 
        bg-linear-to-r from-pink-100 to-white
        border-l-4 border-pink-500 h-[calc(100vh-4rem)];
  }
  /* ========== HEADER ========== */
  .page-aboutDogs header {
    @apply relative flex h-90 justify-center items-end 
        text-white rounded-2xl overflow-hidden;
  }
  .page-aboutDogs header > h1 {
    @apply relative text-4xl sm:text-5xl font-medium font-cute z-10 p-4;
  }
  .page-aboutDogs header > img {
    @apply absolute h-90 w-full object-cover;
  }
  .page-aboutDogs header > div {
    @apply absolute w-full h-full bg-linear-to-b from-black/0 to-black/50;
  }

  /* ==================== Articles Section ==================== */
  .page-aboutDogs .article-card-wrapper {
    @apply flex space-y-10 sm:space-y-0 sm:space-x-10 flex-wrap sm:flex-nowrap;
  }
  .page-aboutDogs .article-card {
    @apply relative flex items-end text-center 
    w-full h-80 sm:h-100 
    rounded-xl overflow-hidden;
  }
  /* img container */
  .page-aboutDogs .article-card-image-container {
    @apply absolute w-full h-full;
  }
  .page-aboutDogs .article-card-image-container > div {
    @apply z-10 absolute w-full h-full bg-linear-to-b from-black/0 to-black/50;
  }
  .page-aboutDogs .article-card-image-container > img {
    @apply w-full h-full object-cover group-hover:scale-102 transition-transform duration-200;
  }
  /* text container */
  .page-aboutDogs .article-card-text-container {
    @apply w-full text-white z-10;
  }
  .page-aboutDogs .article-card-text-container > h3 {
    @apply px-2 mb-1 text-xl sm:text-2xl font-medium;
  }
  .page-aboutDogs .article-card-text-container > p {
    @apply px-2 mb-3 text-sm sm:text-base text-gray-100;
  }
  .page-aboutDogs .article-card-text-container > a {
    @apply inline-block font-bold text-sm
    w-full py-5 
    border-t border-white 
    hover:bg-pink-500/50 hover:border-pink-500/50 active:bg-pink-600/75 active:border-pink-600/75
    transition-colors duration-200;
  }
  .page-aboutDogs .article-card-text-container > a > span {
    @apply absolute inset-0;
  }
  .page-aboutDogs .viewAll-a {
    @apply inline-flex items-center gap-1 text-xl font-medium py-2
    text-pink-500 hover:text-pink-600 active:text-pink-700 hover:gap-2 
    transition-all;
  }
}
