@layer components {
  /* ============================== Articles Page ============================== */
  /* ===== Main ===== */
  .page-articles main {
    @apply mt-15 container mx-auto;
  }
  /* ===== Header ===== */
  .page-articles header {
    @apply py-6 px-2 text-center;
  }
  .page-articles header > h1 {
    @apply font-cute text-3xl sm:text-4xl md:text-5xl font-medium mb-3;
  }
  .page-articles header > p {
    @apply text-lg md:text-xl text-gray-700;
  }
  /* ===== Section ===== */
  .page-articles section {
    @apply py-6 px-2;
  }
  .page-articles section > div:first-of-type {
    @apply flex justify-between items-center mb-3;
  }
  .page-articles section > div:first-of-type > h2 {
    @apply font-cute text-2xl sm:text-3xl font-medium;
  }
  /* ============================== Articles Section ============================== */
  /* ===== View All Button ===== */
  .page-articles .viewAll {
    @apply inline-flex items-center gap-1 text-lg font-medium py-2
    text-pink-500 hover:text-pink-600 active:text-pink-700 hover:gap-2 
    transition-all cursor-pointer;
  }
  /* ===== Articles Container ===== */
  .page-articles .articles-container {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-5;
  }
  /* ===== Article Card ===== */
  .page-articles .article-card {
    @apply relative flex items-end text-center 
    w-full h-80 md:h-80 lg:h-76 2xl:h-90 
    rounded-xl overflow-hidden;
  }
  /* ===== Article Image ===== */
  .page-articles .article-card-image-container {
    @apply absolute w-full h-full;
  }
  .page-articles .article-card-image-container > div {
    @apply z-10 absolute w-full h-full 
    bg-linear-to-b from-black/0 to-black/50;
  }
  .page-articles .article-card-image-container > img {
    @apply w-full h-full object-cover 
    group-hover:scale-102 transition-transform duration-200;
  }
  /* ===== Article Text ===== */
  .page-articles .article-card-text-container {
    @apply w-full text-white z-10;
  }
  .page-articles .article-card-text-container > h3 {
    @apply px-2 mb-1 text-lg font-medium;
  }
  .page-articles .article-card-text-container > p {
    @apply px-2 mb-3 text-sm text-gray-100;
  }
  .page-articles .article-card-text-container > button {
    @apply inline-block font-bold text-xs
    w-full py-4
    border-t border-white 
    hover:bg-pink-500/50 hover:border-pink-500/50 active:bg-pink-600/75 active:border-pink-600/75
    transition-colors duration-200;
  }
  .page-articles .article-card-text-container > button > span {
    @apply absolute inset-0 cursor-pointer;
  }
}
